@import '../../global.css';

.navbar {
    background-color: var(--black);
    background-image: none;
}


.brand {
    display: flex;
    align-items: center;
    padding: 1rem;
    justify-content: space-between;
    border-bottom: 1px solid var(--darkGrey);
}

.planet-list {
    display: flex;
    flex-direction: column;
    align-items:center;
    transform: translateX(-550px);
    position: absolute;
    z-index: 1;
    width: 100%;
    background-color: var(--black);
}

/* ul {
    display: flex;
    
} */

.planet-link {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    width: 85%;
}

.link-wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
    border-bottom: 1px solid var(--darkGrey);
    padding: 1em 0.25em;
}

.link-wrapper:hover {
    cursor: pointer;
}

.link-wrapper > svg {
    position: absolute;
    right: 0;
}

.circle {
    height: 15px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    margin-right: 1rem;
}

a {
    text-decoration: none;
    color: var(--white);
    display: flex;
}

.name {
    font-size: 12px;
}

.toggler {
    cursor: pointer;
}
