@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');

:root {
    --colorLightCyan: hsl(193, 38%, 86%);
    --colorNeonGreen: hsl(150, 100%, 66%);
    --colorGrayishBlue: hsl(217, 19%, 38%);
    --colorDarkGrayishBlue: hsl(217, 19%, 24%);
    --colorDarkBlue: hsl(218, 23%, 16%);

    font-size: 28px;
    font-family: 'Manrope', 'sans-serif';
}

* {
    padding: 0;
    margin: 0;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

body {
   
    background-color: var(--colorDarkBlue);
}

main {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    display: flex;
    flex-direction: column;
    background: var(--colorDarkGrayishBlue);
    margin: 1rem;
    padding: 0.8rem;
    border-radius: 1rem;
    width: 70%;
    position: relative;
    padding-bottom: 1.8rem;
}

.title {
    text-align: center;
    color: var(--colorNeonGreen);
    font-size: 0.45rem;
    letter-spacing: 2px;
    margin-bottom: 0.5rem;
}

.text {
    color: var(--colorLightCyan);
    text-align: center;
    padding-bottom: 0.7rem;
}

.dice-wrapper {
    width: 1rem;
    height: 1rem;
    padding: 0.25rem;
    border-radius: 50%;
    background-color: var(--colorNeonGreen);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: -5%;
    left: 44%;
}

.dice-wrapper:hover {
    box-shadow: 0 0 0.5rem var(--colorNeonGreen);
    cursor: pointer;
}

.divider--desktop {
    display: none;
}

@media only screen and (min-width: 992px) {
    .card {
        width: 20%;
    }

    .divider--desktop {
        display: block;
    }

    .divider--mb {
        display: none;
    }

    
}