.planet-details-tab {
    display: flex;
    width: 100%;
}

.details-tab {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 2rem;
    padding-bottom: 1.75rem;
    border-bottom: 2px solid var(--darkGrey);
}

.details-tab > li {
    position: relative;
}

.underline {
    display: none;
    height: 2px;
    background: aliceblue;
    position: absolute;
    left: 0;
    top: 3.3rem;
    /* width: 100% */
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 2rem;
}