/* * {
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  .App {
    font-family: sans-serif;
    text-align: center;
  }
  
  .container {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    background: #745e5e;
  }
  
  .card {
    background: white;
    min-width: 20rem;
    min-height: 10rem;
    position: absolute;
    bottom: -15rem;
    transform: translateX(-5000px);
  }
  
  .btn {
    position: absolute;
    top: 0;
    left: 0;
    padding: 1em;
    font-size: 0.75rem;
    margin: 0.5rem;
    background: #f66b0e;
    color: white;
  }
  
  .btn:hover {
    opacity: 0.8;
    cursor: pointer;
  }
  
  button:nth-of-type(2) {
    left: 7rem;
  }
   */